@model CRUDT3.Models.Contactomodel

<h1>Crear Contacto</h1>

<form method="post">
    <label>Nombre</label>
    <input class="form-control" name="Nombre" />

    <label>Telefono</label>
    <input class="form-control" name="Telefono" />

    <label>Correo</label>
    <input class="form-control" name="Correo" />

    <button class="btn btn-success mt-3">Guardar</button>
</form>
