@model CRUDT3.Models.Contactomodel

<h1>Eliminar Contacto</h1>

<p>¿Estás seguro que deseas eliminar a <strong>@Model.Nombre</strong>?</p>

<form method="post">
    <button class="btn btn-danger">Eliminar</button>
    <a class="btn btn-secondary" href="/Contactos/Index">Cancelar</a>
</form>
