@model CRUDT3.Models.Contactomodel

<h1>Detalles del Contacto</h1>

<div class="card p-3">
    <p><strong>ID:</strong> @Model.IdContacto</p>
    <p><strong>Nombre:</strong> @Model.Nombre</p>
    <p><strong>Telefono:</strong> @Model.Telefono</p>
    <p><strong>Correo:</strong> @Model.Correo</p>
</div>

<a href="/Contactos/Index" class="btn btn-secondary mt-3">Volver</a>
